.heading {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 48px;
  @apply text-gray-900;
}

.card {
  position: relative;
  box-shadow: 0 18px 40px 0 #7090B01F;
}

.course {
  &__tag {
    position: absolute;
    top: 16px;
    right: 16px;
    width: fit-content;
    z-index: 1;
    background: var(--c-blue);
    color: #fff;
    border-radius: 10px;
    padding: 2px 10px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }

  &__name {
    font-size: 20px;
    line-height: 28px;
    color: #000;
    font-weight: 500;
    @apply mb-2;
  }

  &__instructor {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    @apply text-gray-500;
    @apply mb-6;
  }
}