.cta {
  background-color: #F0F9FF;
  border-radius: 40px;
  padding: 80px;
  display: flex;
  align-items: center;
  gap: 24px;

  button {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 200px;
    height: 50px;
    margin-right: 80px;
  }
}

.heading {
  font-size: 40px;
  line-height: 48px;
  @apply text-gray-800;
  font-weight: 700;

  span {
    color: var(--c-blue);
  }
}