.heading {
  font-size: 52px;
  line-height: 60px;
  font-weight: 800;
  @apply text-gray-800;

  @media screen and (max-width: 767px) {
    font-size: 32px;
    line-height: 1.1;
  }

  @media screen and (max-width: 1023px) {
    font-size: 36px;
    line-height: 1.1;
  }
}

.left {
  flex: 2;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  button {
    margin-bottom: -38px;
  }
}

.right {
  display: block;
  max-width: 33%;
  max-height: 100%;
  width: auto;
  height: auto;

  @media screen and (max-width: 767px) {
    max-width: 100%;
  }
}