.container {
  padding: 64px 100px;
  background-color: var(--c-blue);
  color: #fff;

  @media screen and (max-width: 767px) {
    padding: 48px 40px;
  }

  @media screen and (max-width: 1023px) {
    padding: 56px 72px;
  }
}

.heading {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 64px;
}

.listItem {
  flex: 1;
  padding-bottom: 16px;
  border-bottom: 1.5px solid #F9FAFB;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  > div {
    &:first-child {
      font-size: 48px;
      line-height: 1;
      font-weight: 700;
      margin-bottom: 8px;

      @media screen and (max-width: 767px) {
        font-size: 36px;
        line-height: 48px;
      }
    }

    &:last-child {
      @apply text-2xl;
      @apply leading-9;
      @apply font-medium;
      @apply text-gray-50;

      @media screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
}