.upper {
  display: flex;
  flex-direction: column;
  gap: 120px;
  overflow-x: hidden;
  padding-bottom: 120px;

  @media screen and (max-width: 767px) {
    gap: 88px;
    padding-bottom: 40px;
  }

  @media screen and (max-width: 1023px) {
    gap: 104px;
    padding-bottom: 80px;
  }
}