@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-blue: #425FF8;
}

.content-container {
  margin-left: 100px;
  margin-right: 100px;

  &__md {
    margin: 0 80px;
  }
}

.text-blue {
  color: var(--c-blue);
}